<a href="https://colab.research.google.com/github/DrewRust/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/Plotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Barred Owl Species Num
# 3680
# Spotted Owl
# 3690

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
! wget ftp://ftpext.usgs.gov/pub/er/md/laurel/BBS/DataFiles/States/Kentuck.zip

--2020-04-04 14:11:59--  ftp://ftpext.usgs.gov/pub/er/md/laurel/BBS/DataFiles/States/Kentuck.zip
           => ‘Kentuck.zip’
Resolving ftpext.usgs.gov (ftpext.usgs.gov)... 137.227.224.199, 2001:49c8:8000:120c::199
Connecting to ftpext.usgs.gov (ftpext.usgs.gov)|137.227.224.199|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/er/md/laurel/BBS/DataFiles/States ... done.
==> SIZE Kentuck.zip ... 884591
==> PASV ... done.    ==> RETR Kentuck.zip ... done.
Length: 884591 (864K) (unauthoritative)

Kentuck.zip         100%[===================>] 863.86K  1.30MB/s    in 0.6s

2020-04-04 14:12:01 (1.30 MB/s) - ‘Kentuck.zip’ saved [884591]

In [0]:
! unzip Kentuck.zip

Archive:  Kentuck.zip
  inflating: Kentuck.csv

In [0]:
# These AOU's correspond to the Cooper's, Red Tail, and the Red Shouldered
Kentucky_hawks_all_yrs = Kentuck_df[(Kentuck_df.AOU == 3330) | (Kentuck_df.AOU == 3370) | (Kentuck_df.AOU == 3390)]

In [0]:
# Should be 1368 = 738 + 219 + 411 (got these totals from the other project where I seperated them individually)
Kentucky_hawks_all_yrs.shape

(1368, 14)

In [0]:
# Filtering for the past most recent 5 years
kent_hawk_recent = Kentucky_hawks_all_yrs["Year"] >= 2014

In [0]:
# Finalizing the dataframe
total_recent_df = Kentucky_hawks_all_yrs[kent_hawk_recent]

In [0]:
# Checking the shape should be 225
total_recent_df.shape

(225, 14)

In [0]:
# Just seeing how many species there would be
# Should b 505
total_recent_df['SpeciesTotal'].sum(axis=0)

505

In [0]:
# Should be 225 total if all added up
# 43, 35, 43, 48, 56
print((total_recent_df['Year'] ==2014).sum(axis=0))
print((total_recent_df['Year'] == 2015).sum(axis=0))
print((total_recent_df['Year'] == 2016).sum(axis=0))
print((total_recent_df['Year'] == 2017).sum(axis=0))
print((total_recent_df['Year'] == 2018).sum(axis=0))

43
35
43
48
56

In [0]:
# sorting by route number
total_recent_df = total_recent_df.sort_values(by='Route', ascending=True)

In [0]:
# Have to reset index on new df
total_recent_df = total_recent_df.reset_index(drop=True)

In [0]:
# This makes the index a column which I'll need later for my for loop
total_recent_df.reset_index(level=0, inplace=True)

In [0]:
# Creating an empty Dataframe with column names only
count_df = pd.DataFrame(columns=['RouteNum', 'HawkCount'])
count_df

Empty DataFrame
Columns: [RouteNum, HawkCount]
Index: []

In [0]:
# adds all the species totals up for each route and appends them into a new dataframe
x = 1
tot = 0
for ind in total_recent_df.index:
  if (total_recent_df['Route'][ind] == x):
    tot += (total_recent_df['SpeciesTotal'][ind])
  else:
    count_df = count_df.append({'RouteNum': int(x), 'HawkCount': int(tot)}, ignore_index=True)
    tot = 0
    tot += (total_recent_df['SpeciesTotal'][ind])
    x = (total_recent_df['Route'][ind])
    if (total_recent_df['Route'][ind] == 900):
      count_df = count_df.append({'RouteNum': int(x), 'HawkCount': int(tot)}, ignore_index=True)
      break

In [0]:
# These are what the counts should be.
# 1 = 25
# 2 = 21
# 5 = 13
# 6 = 13
# 120 = 10
# 124 = 13
# 127 = 12
# 132 = 16
# 146 = 10
count_df.head(50)

   RouteNum HawkCount
0         1        25
1         2        21
2         3        34
3         4        19
4         5        13
5         6        13
6         8        10
7         9        12
8        10        10
9        11         2
10       21         9
11       22         6
12       23         6
13       25        14
14       26         2
15       28         6
16       29        11
17       30         4
18       31        18
19       35        21
20       36        25
21       39         2
22       40         2
23       41         8
24       42         2
25       43         5
26       44        28
27      107        17
28      112        16
29      117         9
30      118         8
31      119        12
32      120        10
33      124        13
34      127        12
35      132        16
36      133         7
37      134        26
38      137        15
39      145         5
40      146        10
41      900         1

In [0]:
# renaming the RouteNum column to match the other df
count_df.rename(columns={'RouteNum': 'Route'}, inplace=True)

In [0]:
# Get Routes data
! wget ftp://ftpext.usgs.gov/pub/er/md/laurel/BBS/DataFiles/routes.zip

--2020-04-04 14:17:06--  ftp://ftpext.usgs.gov/pub/er/md/laurel/BBS/DataFiles/routes.zip
           => ‘routes.zip’
Resolving ftpext.usgs.gov (ftpext.usgs.gov)... 137.227.224.199, 2001:49c8:8000:120c::199
Connecting to ftpext.usgs.gov (ftpext.usgs.gov)|137.227.224.199|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/er/md/laurel/BBS/DataFiles ... done.
==> SIZE routes.zip ... 120576
==> PASV ... done.    ==> RETR routes.zip ... done.
Length: 120576 (118K) (unauthoritative)

routes.zip          100%[===================>] 117.75K   480KB/s    in 0.2s

2020-04-04 14:17:07 (480 KB/s) - ‘routes.zip’ saved [120576]

In [0]:
! unzip routes.zip

Archive:  routes.zip
  inflating: routes.csv

In [0]:
url2 = 'routes.csv'
routes_df = pd.read_csv(url2, encoding='latin-1')
routes_df.sample(3)

      CountryNum  StateNum  Route  ... BCR  RouteTypeID  RouteTypeDetailID
5681         840        92    250  ...  17            1                  1
1556         840        33    218  ...  10            1                  1
853          840        14     51  ...  33            1                  1

[3 rows x 11 columns]

In [0]:
# Kentucky is number 39
kentucky_routes = routes_df[(routes_df.StateNum == 39)]

In [0]:
# should be 65
kentucky_routes.shape

(65, 11)

In [0]:
# Sorting by route num
sorted_kent_routes = kentucky_routes.sort_values(by='Route', ascending=True)

In [0]:
sorted_kent_routes = sorted_kent_routes.reset_index(drop=True)

In [0]:
sorted_kent_routes.reset_index(level=0, inplace=True)

In [0]:
# Creating an empty array to append the route numbers to
my_array = []

In [0]:
# gets the array numbers that I need for the Routes I need 
for ind in count_df.index:
  my_array.append(count_df['Route'][ind])

In [0]:
# creating empty boolean array to sort route numbers I need from my_array above
booleans = []

In [0]:
x = 0

In [0]:
# uses a list of booleans to seperate out all the data I need for Kentucky routes I need
# x is the index number when it gets to 42 it should append only false since I don't need the other routes
# only append True if route in df matches my_array route number otherwise append false.
# I thought this was the easiest way to get the sorted routes that I needed that matched my Kentucky data
for ind in sorted_kent_routes.index:
  if x == 42:
    booleans.append(False)
  elif (sorted_kent_routes['Route'][ind] == my_array[x]):
    booleans.append(True)
    x += 1
  else:
    booleans.append(False)

In [0]:
# Creating a pandas series
is_true_route = pd.Series(booleans)

In [0]:
df = sorted_kent_routes[is_true_route]

In [0]:
df.shape

(42, 12)

In [0]:
final_df = pd.merge(df, count_df, on=['Route'], how='inner')

In [0]:
final_df

    index  CountryNum  StateNum  ... RouteTypeID RouteTypeDetailID  HawkCount
0       0         840        39  ...           1                 1         25
1       1         840        39  ...           1                 1         21
2       2         840        39  ...           1                 1         34
3       3         840        39  ...           1                 1         19
4       4         840        39  ...           1                 1         13
5       5         840        39  ...           1                 1         13
6       7         840        39  ...           1                 1         10
7       8         840        39  ...           1                 1         12
8       9         840        39  ...           1                 1         10
9      10         840        39  ...           1                 1          2
10     20         840        39  ...           1                 1          9
11     21         840        39  ...           1                 1          6
12     22         840        39  ...           1                 1          6
13     24         840        39  ...           1                 1         14
14     25         840        39  ...           1                 1          2
15     27         840        39  ...           1                 1          6
16     28         840        39  ...           1                 1         11
17     29         840        39  ...           1                 1          4
18     30         840        39  ...           1                 1         18
19     34         840        39  ...           1                 1         21
20     35         840        39  ...           1                 1         25
21     38         840        39  ...           1                 1          2
22     39         840        39  ...           1                 1          2
23     40         840        39  ...           1                 1          8
24     41         840        39  ...           1                 1          2
25     42         840        39  ...           1                 1          5
26     43         840        39  ...           1                 1         28
27     46         840        39  ...           1                 1         17
28     47         840        39  ...           1                 1         16
29     50         840        39  ...           1                 1          9
30     51         840        39  ...           1                 1          8
31     52         840        39  ...           1                 1         12
32     53         840        39  ...           1                 1         10
33     54         840        39  ...           1                 1         13
34     55         840        39  ...           1                 1         12
35     56         840        39  ...           1                 1         16
36     57         840        39  ...           1                 1          7
37     58         840        39  ...           1                 1         26
38     59         840        39  ...           1                 1         15
39     60         840        39  ...           1                 1          5
40     61         840        39  ...           1                 1         10
41     63         840        39  ...           1                 2          1

[42 rows x 13 columns]

In [0]:
finished_df = final_df

In [0]:
# makes new index a column
finished_df.reset_index(level=0, inplace=True)

In [0]:
# dropping the column I don't need.
finished_df = finished_df.drop(['level_0'], axis=1)

In [0]:
finished_df.shape

(42, 13)

In [0]:
# dropping the column I don't need.
finished_df = finished_df.drop(['index'], axis=1)

In [0]:
finished_df

    CountryNum  StateNum Route  ... RouteTypeID  RouteTypeDetailID  HawkCount
0          840        39     1  ...           1                  1         25
1          840        39     2  ...           1                  1         21
2          840        39     3  ...           1                  1         34
3          840        39     4  ...           1                  1         19
4          840        39     5  ...           1                  1         13
5          840        39     6  ...           1                  1         13
6          840        39     8  ...           1                  1         10
7          840        39     9  ...           1                  1         12
8          840        39    10  ...           1                  1         10
9          840        39    11  ...           1                  1          2
10         840        39    21  ...           1                  1          9
11         840        39    22  ...           1                  1          6
12         840        39    23  ...           1                  1          6
13         840        39    25  ...           1                  1         14
14         840        39    26  ...           1                  1          2
15         840        39    28  ...           1                  1          6
16         840        39    29  ...           1                  1         11
17         840        39    30  ...           1                  1          4
18         840        39    31  ...           1                  1         18
19         840        39    35  ...           1                  1         21
20         840        39    36  ...           1                  1         25
21         840        39    39  ...           1                  1          2
22         840        39    40  ...           1                  1          2
23         840        39    41  ...           1                  1          8
24         840        39    42  ...           1                  1          2
25         840        39    43  ...           1                  1          5
26         840        39    44  ...           1                  1         28
27         840        39   107  ...           1                  1         17
28         840        39   112  ...           1                  1         16
29         840        39   117  ...           1                  1          9
30         840        39   118  ...           1                  1          8
31         840        39   119  ...           1                  1         12
32         840        39   120  ...           1                  1         10
33         840        39   124  ...           1                  1         13
34         840        39   127  ...           1                  1         12
35         840        39   132  ...           1                  1         16
36         840        39   133  ...           1                  1          7
37         840        39   134  ...           1                  1         26
38         840        39   137  ...           1                  1         15
39         840        39   145  ...           1                  1          5
40         840        39   146  ...           1                  1         10
41         840        39   900  ...           1                  2          1

[42 rows x 12 columns]

In [0]:
pip install chart_studio

Collecting chart_studio
  Downloading https://files.pythonhosted.org/packages/ca/ce/330794a6b6ca4b9182c38fc69dd2a9cbff60fd49421cb8648ee5fee352dc/chart_studio-1.1.0-py3-none-any.whl (64kB)
     |████████████████████████████████| 71kB 2.5MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.21.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2019.11.28)
Installing collected packages: chart-studio
Successfully installed chart-studio-1.1.0

In [0]:
import chart_studio
import plotly.graph_objs as go
import plotly
# setting user, api key and access token
chart_studio.tools.set_credentials_file(username='drewrust1', api_key='lzY4bft8do3l9McS4jK2')
token = 'pk.eyJ1IjoiZHJld3J1c3QxIiwiYSI6ImNrOGxxMXQxbDBlaDIzbG56MjFnM2VxZGMifQ.FTGX44CylOAZSO_WHYsP1g'

In [0]:
import plotly.express as px

In [0]:
import plotly.io as pio

In [142]:
# THIS IS THE GRAPH I ULTIMATELY WENT WITH
fig = px.scatter_mapbox(finished_df, lat="Latitude", lon="Longitude", hover_name="RouteName", hover_data=["Route", "HawkCount"],
                        color_discrete_sequence=["fuchsia"], zoom=3, height=300)
fig.update_layout(mapbox_style="satellite-streets", mapbox_accesstoken = token)
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.write_html('first_figure.html', auto_open=True)
py.plot(fig, filename='Kentucky_hawks_per_route', auto_open=True)

# pio.write_html(fig, file='graph.html', auto_open=True)
# fig.show()

'https://plotly.com/~drewrust1/1/'

In [143]:
import chart_studio.tools as tls
tls.get_embed('https://plotly.com/~drewrust1/1/')

'<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~drewrust1/1.embed" height="525" width="100%"></iframe>'

In [0]:
import chart_studio.plotly as py
import plotly.graph_objs as go

In [0]:
route_array = []

In [0]:
# gets the array routes and numbers that I need for the Routes I need 
for ind in finished_df.index:
  route_array.append(str(finished_df['RouteName'][ind]) + " " + str(finished_df['HawkCount'][ind]) + " hawks")

In [0]:
print(route_array)

In [144]:
site_lat = finished_df.Latitude
site_lon = finished_df.Longitude
x = 0
route_name = finished_df.RouteName
hawk_count = finished_df.HawkCount
# route_num = finished_df.Route

fig = go.Figure()

fig.add_trace(go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=12,
            color='rgb(203, 52, 203)',
            opacity=0.8
        ),
        hoverinfo='text'
    ))

fig.add_trace(go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=9,
            color='rgb(222, 243, 173)',
            opacity=0.8
        ),
        hovertext=route_name,
        hoverinfo='text'
  
    ))

fig.update_layout(

    title='Kentucky Hawk Counts Per Location 5 Year Totals from 2014-2018',
    autosize=True,
    hovermode='closest',
    showlegend=False,
    mapbox=dict(
        accesstoken=token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='outdoors'
    ),
)
# py.plot(fig, filename='Kentucky_hawks_per_route', auto_open=True)
fig.show()

In [0]:
pip install plotly==4.6.0

Collecting plotly==4.6.0
  Downloading https://files.pythonhosted.org/packages/15/90/918bccb0ca60dc6d126d921e2c67126d75949f5da777e6b18c51fb12603d/plotly-4.6.0-py2.py3-none-any.whl (7.1MB)
     |████████████████████████████████| 7.2MB 3.5MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly==4.6.0) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly==4.6.0) (1.12.0)
Installing collected packages: plotly
  Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-4.6.0